# Provider binary
terraform-provider-monotaur

# Terraform dev artifacts
.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
*.tfplan

# Go build cache
*.test
*.out

# E2E test output
e2e-results/

# OS
.DS_Store
Thumbs.db

# Editor
.idea/
.vscode/
*.swp
